<h1>Hello, Rails!</h1>
<p>Find me in app/views/articles/index.html.erb</p>

<ul>
  <% @article.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
